$icon-font-path: '../fonts/';

//vars
$main-color: #60B685;
$gray-color: #EDEDED;
$label-color: #6E8B7B;
$input-color: rgba(255,255,255,0.25);

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//bootstrap overrides
.btn-primary {
  padding: 0.5em 3em;
  background-color: $main-color;
  border-color: transparent;
  border: none;
  box-shadow: 4px 4px 10px -4px #333;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($main-color, 10%);
    border-color: transparent;
  }
}

//from bootstrap to prevent active + focus color change
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.focus:active,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus {
  background-color: darken($main-color, 10%);
  border-color: transparent;
}

.form-group > label {
  color: $label-color;
}

.form-control {
  border-color: $main-color;
  border: 1.5px solid $main-color;
  background-color: $input-color;
  color: $main-color;

  &:focus {
    border-color: $main-color;
  }
}

#wrapper {
}

#wrapper::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background: url('../images/golden_gate_bridge.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  filter: grayscale(100%);
}

#login-wrapper {
  width: 300px;
  padding-top: 15px;

  //devices larger than small
  @media (min-width: 48em) {
    padding-top: 100px;
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-item {
      margin-bottom: 0;
      width: 50%;
    }

    //bootstrap override
    .nav-item + .nav-item {
      margin-left: 0;
    }

    .nav-link {
      border-radius: 0;
      text-align: center;
      border-radius: 3px 3px 0 0;
    }

    a.nav-link {
      background: $main-color;
      color: #FFF;
      padding: 15px;
    }

    a.nav-link.active {
      background-color: rgba(255, 255, 255, 0.7);
      color: $main-color;
      font-weight: bold;
    }
  }
}

#login-form {
  padding: 25px 40px;
  background-color: rgba(#FFF, 0.7);
  border-radius: 0 0 3px 3px;

  #sign-in-password {
    border-right: 0;
  }

  #sign-in-password + .input-group-addon {
    color: #848484;
    background-color: rgba(255,255,255,0.25);
    border-top: 1.5px solid $main-color;
    border-right: 1.5px solid $main-color;
    border-bottom: 1.5px solid $main-color;
  }

  #password-reset-link {
    text-align: center;

    a {
      color: $gray-color  ;
      font-size: 0.75em;

      &:hover {
        text-decoration: none;
      }
    }
  }

  hr {
    border-top: 1px solid $gray-color;
  }
}

footer {
  margin-top: 250px;
  background-color: rgba(#FFF, 0.7);
  padding: 25px;
  border-radius: 4px 4px 0 0;
  color: $label-color;

  p {
    text-align: center;
  }
}
